@media only screen and (max-width: 1000px){
    main {
        width: 100%;
        margin: 0;
        padding: 10px;
        border-radius: 0;
    }

    nav ul {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1000px){
    main {
        width: 960px;
        margin: 10px auto;
        padding: 50px;
        border-radius: 16px;
    }
    
    nav ul li {
        /* border: 4px solid #f90; */
        width: 15%;
    }

    nav ul {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px){
    main {
        font-size: 130%;
        width: 1100px;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

body {
    background-image: url(ocean1.jpg);
    background-color: #ccc;
}

main {
    background-color: rgba(255,255,255,0.6);
    color: #000;
}

nav a {
    color: #45d;
}

nav a:hover {
    color: #27f;
    text-shadow: #27f 0 0 3px;
    background-color: #ddf;
}

body.noc {
    background-image: url(noc.jpg);
    background-color: #004;
}

body.noc main {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}

body.noc nav a {
    color: rgb(255, 101, 204);
}

body.noc nav a:hover {
    color: rgb(255, 153, 250);
    text-shadow: rgb(230, 105, 255) 0 0 3px;
    background-color: rgb(6, 6, 68);
}



nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}


nav ul li a {
    transition-duration: 1s;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 19pt;
    padding: 10px;
    border-radius: 8px;
}

