body {
    font-family: Georgia, serif;
    color: red;
}
h1 {
    color: green;
    background-color: #ffff44;
    font-family: PokemonFont2, Tahoma, Arial, sans-serif;
    font-size: 50pt;
    border: 50px solid black;
}
th {
    color: rgb(40, 81, 156);
}
td {
    color: #16c442;
}

p {
    color: #000000;
    text-align: justify;
    background-color: #ee4455;
    padding: 5px;
    margin: 0px;
    outline: 1px solid black;
}

u {
    color: #ffffff;
    background-color: #440044;
}

header {
    color: #ffffff;
    background-color: #557755;
    padding: 20px;
}