body {
    font-family: Georgia, serif;
    color: red;
}
h1 {
    color: green;
    font-family: PokemonFont2, Tahoma, Arial, sans-serif;
    font-size: 50pt;
}
th {
    color: rgb(40, 81, 156);
}
td {
    color: #16c442;
}

p {
    color: #000000;
    text-align: justify;

}