html {
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, serif;
    color: red;
    margin: 0;
    padding: 0;
}
h1 {
    color: green;
    background-color: #ffff44;
    font-family: PokemonFont2, Tahoma, Arial, sans-serif;
    font-size: 50pt;
    border: 5px solid black;
    margin-top: 0;
}
th {
    color: rgb(40, 81, 156);
}
td {
    color: #16c442;
}

p {
    color: #000000;
    text-align: justify;
    background-color: #ee4455;
    padding: 5px;
    padding-left: 50px;
    margin: 0px;
    margin-right: 140px;
    outline: 1px solid black;
}

u {
    color: #ffffff;
    background-color: #440044;
}

header {
    font-family: 'New Tegomin', serif;
    font-size: 40pt;
    color: #ffffff;
    background-color: #557755;
    padding: 20px 200px 0 50px;
}

main {
    width: 900px;
    margin: auto;
}

img {
    float: right;
    outline: 1px solid black;
    margin: 0 0 15px 15px;
}